@import "~@fontsource/fira-sans/index.css";

* {
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

div#app {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    position: absolute;
    top: 0.25rem;
    padding: 0.25rem;
    border-radius: 5px;
    opacity: 0.5;

    @media (prefers-color-scheme: dark) {
        color: #000000;
        background-color: #ffffff;
    }
    @media (prefers-color-scheme: light) {
        color: #ffffff;
        background-color: #333333;
    }
}

@media (prefers-color-scheme: light) {
    html,
    body {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        color: #ffffff;
        background-color: #333333;
    }
}
