.player {
    .media {
        video, img {
            object-fit: contain;
        }
    }

    .media-flag {
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
        padding: 0.25rem;
        border-radius: 5px;
        opacity: 0.5;

        @media (prefers-color-scheme: dark) {
            color: #000000;
            background-color: #ffffff;
        }
        
        @media (prefers-color-scheme: light) {
            color: #ffffff;
            background-color: #333333;
        }
    }
}