html,
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #212121;
    color: #fff;
    overflow: hidden;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#window-drag {
    -webkit-app-region: drag;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

input, button, textarea, :focus {
    outline: none;
}

#welcome {
    margin: 1em;
}

#welcome h1 {
    display: inline-block;
}

#welcome h1 small {
    font-size: 20pt;
    opacity: .5;
}

#welcome img {
    width: 30px;
}

.button {
    border: 1px solid;
    border-radius: 3px;
    padding: .5em;
    margin-top: 1em;
    border-color: #fff;
    transition: background-color .1s, color .1s;
}

.button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #212121;
    border-color: #fff;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
}

video {
    width: 100%;
    max-height: 100%;
}

#title {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, .25);
    padding: 5px;
}

a {
    color: white;
}

a:active {
    color: white;
}

#browser {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}