html
body
    font-family: -apple-system, BlinkMacSystemFont, sans-serif
    padding: 0
    margin: 0
    overflow: hidden

body.light
    background-color: #F5F5F5
    color: #212121

body.dark
    background-color: #212121
    color: #F5F5F5

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before
    -webkit-user-select: none
    user-select: none
    cursor: default

#window-drag
    -webkit-app-region: drag
    height: 50px
    position: absolute
    top: 0
    left: 0
    width: 100%

input, button, textarea, :focus
    outline: none

#welcome
    margin: 1em

    h1
        display: inline-block
        margin-left: .25rem

        small
            font-size: 20pt
            opacity: .5

    img
        width: 40px
        height: 40px


    .header
        display: flex
        align-items: center

.button
    border: 1px solid
    border-radius: 3px
    padding: .5em
    margin-top: 1em
    border-color: #E55C00
    transition: background-color .1s, color .1s

    &:hover
        cursor: pointer
        background-color: #E55C00
        color: #F5F5F5
        border-color: #E55C00

h1
    padding: 0
    margin: 0
    font-size: 36px
    font-weight: 500
    line-height: 1.1

video
    width: 100%
    max-height: 100%

#title
    position: absolute
    width: 100%
    text-align: center
    margin-top: 5px
    background-color: rgba(0, 0, 0, .25)
    padding: 5px

a
    color: #E55C00

    &:active
        color: #E55C00

#browser
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column-reverse
    height: 100vh

    #video-controls
        padding-top: 5px
        padding-bottom: 5px
        width: 100%
        display: grid
        grid-template-columns: 5% 85% 5% 5%
        grid-template-rows: 1fr
        grid-template-areas: ". . ."

        button
            -webkit-appearance: none
            border: none
            background: none
            color: #ffffff
            margin: 0 5px

        progress
            width: 100%
            -webkit-appearance: none

            &::-webkit-progress-bar
                background: #333
                border-radius: 10px

            &::-webkit-progress-value
                border-radius: 10px
                background-color: #fff